page-productitems {
    
    .headers-product{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #ec1d25
    }

   .price{

    font-size: bold;
    font-size:20px;
    color:#ec1d25;

   }

   .button-padding {
margin: 10px 10px 10px 10px !important;
}

}
