page-profile {

        .profile-image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        }

        .iconone{
      height: 0px;
      width: 40px;
      font-size:60px;
      vertical-align: middle;
      margin-top: -240px;
      margin-left: -25px;
    //   background-color: aquamarine;
        }

        .text-input{
          color:#ec1d25;
          // font-weight: 500px;
          font-size: 20px;

        }

}
